body{
    margin: 0px;    overflow-x: hidden;    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #fffae8;
}

header {
    background-color: #fffae8;
    color: #000000;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    position: relative;
}

.title-text{
    padding-bottom: 10px;
    padding-top: 30px;
    font-size: 90px;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header a {
    text-decoration: none;
    font-weight: 700;
}

.header-user{
    text-align: right;
    font-weight: 700;
}

.header-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 24px;
}
.content {
    padding: 10px;
}

.main-content{
    padding: 25px;
    font-size: 20px;
}

.image-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.centered-image {
    width: 100%;
    display: block;
}

.drift-button {
    display: inline-block;
    margin: 20px auto;
    padding: 1px 20px;
    background-color: rgb(201, 125, 125);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    width: 160px;
    text-align: center;
}
.drift-button:hover {
    background-color: rgb(188, 96, 96);
}

.tableauWrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}